@page "/"

<PageTitle>New Realeses</PageTitle>

<h1>New Realeses</h1>

@if (releases is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        @foreach (var newRelease in releases)
        {
            <_Album Album = "@newRelease"/>
        }
    </div>
}
